<h1 class="center">Conspiracy Overflow</h1>
<h4 class="center italicize">Where Someone's Always Listening...</h4>

<div class="button-container plum-purple-background center">
  <a href="/questions/new">Ask a Question</a>
</div>

<div class="list-container">
  <table class="question-list">
    <% @questions.each do |question| %>
      <tr class="question-row top-border">
        <!--  TODO: CHANGE votes.count TO total_vote_value -->
        <td class="vote-total text-align-r dark-gray-text top-pad font-size-8em"><%= question.votes.count %> votes</td>
        <td class="answer-total text-align-r dark-gray-text top-pad font-size-8em"> <%= question.answers.count %> answers</td>
        <td class="question-link top-pad"><a href='/questions/<%= question.id %>'><%= question.title %></a></td>
      </tr>
      <tr class="bottom-border"> <td colspan="3" class="date dark-gray-text italicize right-align"><%= timestamp_to_date(question) %></td></tr>
    <% end %>
  </table>

</div>



