<div>
  <%= erb :_errors, locals: { errors: @errors } if @errors %>
  <h2><%= @question.title %></h2>
  <p class="author-name">Asked by: <%= @question.author.username %></p>
  <div class="question-vote-form"><%= erb :_vote_form, locals: { votable: @question } %></div>
  <p id="question-body"><%= @question.body %></p>
  <%= erb :_comment_list, locals: { commentable: @question } %>
  <%= erb :_answer_list, locals: { question: @question } %>
</div>
