<table>
  <% @question.answers.order(:created_at).each do |answer| %>
    <tr>
      <td>
        <% if answer.favorited %>
          <img class="best-indicator" src="/images/alien.png">
        <% end %>
      </td>
      <td>
        <div class="answer-vote-form"><%= erb :_vote_form, locals: { votable: answer } %></div>
        <div class="answer-break">
          <p><%= answer.body %></p>
          <p class="author-name">Answered by: <%= answer.responder.username %></p>
          <%= erb :_comment_list, locals: { commentable: answer } %>
        </div>
      </td>
      <td>
        <% if user_is_author?(@question.author) %>
          <div>
            <form id="favorite-form" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
              <input type="hidden" name="_method" value="put">
              <input id="best-answer-link-disguise" type="submit" value="Select As Truth">
            </form>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
