<h2>Answers:</h2>

<% @question.answers.each do |answer| %>
<div class="answer-break">
  <p><%= answer.body %></p>
  <p class="author-name">Answered by: <%= answer.responder.username %></p>
  <div class="answer-vote-button"><%= erb :_vote_form, locals: { votable: answer } %></div>
  <%= erb :_comment_list, locals: { commentable: answer } %>
  </div>
<% end %>

<h3 class="center">Add Answer</h3>
<%= erb :_errors %>
<form class="answer-form" method="post" action="/questions/<%= @question.id %>/answers">
  <textarea name="body" rows="4" cols="50"></textarea>
  <br>
  <div class="center">
    <input type="submit" value="Submit">
  </div>
</form>
