<div class="comments-container">

  <table class="comments-table">
    <% commentable.comments.each do |comment| %>
    <%  %>
      <%= erb :_comment_guts, locals: { comment: comment } %>
    <% end %>
  </table>


  <%= erb :_errors %>
  <form class="new-comment-form center block" method="post" action="/comments">
    <input class="commentable-id"type="hidden" name="commentable_id" value=<%= commentable.id %>>
    <input class="commentable-type" type="hidden" name="commentable_type" value=<%= commentable.class %>>
    <input class="question-id" type="hidden" name="question_id" value=<%= @question.id %>>
    <input class="comment-body"rows="5" cols="50"  type="textarea" name="body" placeholder="Comment">
    <input class="comment-submit-button inline  max-width-125 margin-auto" type="submit" value="Add comment">
  </form>
</div>
